# ðŸ§ª Lab 10: Combining Data Structures with Functions

## Objectives
- Practice using lists and dictionaries in real-world data scenarios
- Build pipelines using `filter()`, `map()`, and `reduce()`
- Process a list of dictionary records (JSON-like)
- Learn functional patterns for transforming and aggregating structured data

---

## ðŸ“˜ Real-World Scenario
We often work with data that is structured as a list of dictionariesâ€”very similar to rows in a database or records in a JSON file.
Functional programming can help clean, transform, and summarize such data efficiently.

In [1]:
# âœ… Example dataset: list of employee records
employees = [
    {"name": "Alice", "age": 30, "department": "Sales", "salary": 60000},
    {"name": "Bob", "age": 24, "department": "IT", "salary": 55000},
    {"name": "Charlie", "age": 28, "department": "Sales", "salary": 62000},
    {"name": "Diana", "age": 35, "department": "IT", "salary": 70000},
    {"name": "Evan", "age": 40, "department": "HR", "salary": 52000},
]

### Step 1: Filter employees in Sales department

In [2]:
sales_employees = list(filter(lambda e: e["department"] == "Sales", employees))
print(sales_employees)

[{'name': 'Alice', 'age': 30, 'department': 'Sales', 'salary': 60000}, {'name': 'Charlie', 'age': 28, 'department': 'Sales', 'salary': 62000}]

### Step 2: Map to salaries of Sales employees

In [3]:
sales_salaries = list(map(lambda e: e["salary"], sales_employees))
print(sales_salaries)

[60000, 62000]

### Step 3: Reduce to total salary in Sales

In [4]:
from functools import reduce
total_sales_salary = reduce(lambda acc, x: acc + x, sales_salaries, 0)
print("Total Sales Payroll:", total_sales_salary)

Total Sales Payroll: 122000

## ðŸ”— Full Functional Pipeline (filter â†’ map â†’ reduce)

In [5]:
total_sales = reduce(
    lambda acc, x: acc + x,
    map(lambda e: e["salary"],
        filter(lambda e: e["department"] == "Sales", employees)
    ),
    0
)
print("Total Sales Payroll (Pipeline):", total_sales)

Total Sales Payroll (Pipeline): 122000

## ðŸ“ Practice
1. Filter employees over age 30 and list their names.
2. Map all employees to their department names (no duplicates).
3. Use reduce to find the highest salary among all employees.
4. Create a functional pipeline to calculate total salary for IT department.
5. BONUS: Use a dictionary comprehension to group employees by department.

In [6]:
old_employees = list(filter(lambda e: e["age"] > 30, employees))
old_employees

[{'name': 'Diana', 'age': 35, 'department': 'IT', 'salary': 70000},
 {'name': 'Evan', 'age': 40, 'department': 'HR', 'salary': 52000}]

In [8]:
list(map(lambda e: e['department'], employees))

['Sales', 'IT', 'Sales', 'IT', 'HR']

In [9]:
largest = reduce(lambda x, y: x if x > y else y, list(map(lambda e: e['salary'], employees)))
largest

70000

In [12]:
it_total = reduce(lambda x, y: x + y, map(lambda e : e['salary'], filter(lambda e: e['department']=='IT', employees)))
it_total

125000

In [20]:
bonus = {v:k for k, v in list(map(lambda e : (e['department'], e['name']), employees))} # keys are unique so if you do k:v instead of v:k it will delete duplicate depts
bonus

{'Alice': 'Sales',
 'Bob': 'IT',
 'Charlie': 'Sales',
 'Diana': 'IT',
 'Evan': 'HR'}