# Exercise 5 - Repairing and Normalizing Data

## Setup

Make sure the following files are in your file system:
- data_with_nulls.csv
- data_with_outliers.csv
- data_mixed_problems.csv

Take a look at the files to verify the issues with their contents

Install the required non-standard module `flaker`.

In [ ]:
# install flaker to runtime
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.11/dist-packages (37.4.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)

## Generating Sample Data Files for Cleaning
To simulate real-world cleaning tasks, we will generate several example CSV files that contain common issues such as missing data, outliers, and inconsistent categories.

These files were generated using Python's `pandas` and `faker` libraries.

In [ ]:
import pandas as pd
import numpy as np
import random
from faker import Faker

fake = Faker()

# Generate nulls dataset
def generate_nulls_dataset(num_rows=10):
    data = {
        "Name": [fake.first_name() if random.random() > 0.2 else None for _ in range(num_rows)],
        "Age": [random.randint(20, 60) if random.random() > 0.3 else None for _ in range(num_rows)],
        "Income": [random.randint(30000, 90000) if random.random() > 0.1 else None for _ in range(num_rows)],
    }
    return pd.DataFrame(data)

# Generate outliers dataset
def generate_outliers_dataset(num_rows=10):
    data = {
        "Salary": [random.randint(50000, 100000) if i < num_rows - 2 else random.randint(200000, 300000) for i in range(num_rows)],
        "YearsExperience": [random.randint(1, 10) for _ in range(num_rows)],
    }
    return pd.DataFrame(data)

# Generate mixed-problem dataset
def generate_mixed_problem_dataset(num_rows=50):
    data = {
        "Name": [fake.first_name() if random.random() > 0.1 else None for _ in range(num_rows)],
        "Age": [random.randint(18, 65) if random.random() > 0.2 else None for _ in range(num_rows)],
        "Income": [random.choice([random.randint(30000, 90000), None, 999999]) for _ in range(num_rows)],
        "Department": [random.choice(["Sales", "HR", "IT", "Finance", None]) for _ in range(num_rows)],
        "Rating": [round(random.uniform(1.0, 5.0), 1) if random.random() > 0.15 else None for _ in range(num_rows)],
    }
    return pd.DataFrame(data)

# Generate and preview
df_mixed = generate_mixed_problem_dataset()
print(df_mixed.head())

       Name   Age    Income Department  Rating
0  Patricia   NaN  999999.0       None     3.0
1    Lauren  28.0   88812.0         HR     2.3
2  Nicholas  39.0  999999.0      Sales     3.0
3    Hunter  56.0       NaN         HR     2.7
4    Briana  45.0  999999.0       None     3.2

### Practice
- Try modifying the generators to produce different types of problems (e.g., duplicated records or data type errors).

In [ ]:
# Your practice code here

## Cleaning Missing Values (data_with_nulls.csv)
We will start by reading and cleaning a file containing missing values. You will practice detecting and fixing these issues using pandas.

In [ ]:
df_nulls = pd.read_csv("data_with_nulls.csv")
print("Original Nulls Dataset:")
print(df_nulls)

# Fill missing values
df_nulls['Name'].fillna('Unknown', inplace=True)
df_nulls['Age'].fillna(df_nulls['Age'].mean(), inplace=True)
df_nulls['Income'].fillna(df_nulls['Income'].median(), inplace=True)

print("\nCleaned Dataset:")
print(df_nulls)

Original Nulls Dataset:
       Name   Age   Income
0      Luis   NaN  81836.0
1   Bethany  37.0  42778.0
2   Antonio   NaN  71272.0
3       NaN  20.0  48813.0
4       NaN   NaN  83910.0
5    Latoya  23.0  35218.0
6    Andrew  27.0      NaN
7   Michele   NaN      NaN
8       NaN  25.0  64056.0
9  Veronica  33.0  50847.0

Cleaned Dataset:
       Name   Age   Income
0      Luis  27.5  81836.0
1   Bethany  37.0  42778.0
2   Antonio  27.5  71272.0
3   Unknown  20.0  48813.0
4   Unknown  27.5  83910.0
5    Latoya  23.0  35218.0
6    Andrew  27.0  57451.5
7   Michele  27.5  57451.5
8   Unknown  25.0  64056.0
9  Veronica  33.0  50847.0

/tmp/ipython-input-4-1169282766.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nulls['Name'].fillna('Unknown', inplace=True)
/tmp/ipython-input-4-1169282766.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nulls['Age'].fillna(df_nulls['Age'].mean(), inplace=True)
/tmp/ipython-input-4-1169282766.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nulls['Income'].fillna(df_nulls['Income'].median(), inplace=True)



---
**Version 2**

Here is another version of the implementation which applies the suggestions from the previous output.

In [ ]:
df_nulls_updated = pd.read_csv("data_with_nulls.csv")
print("Original Nulls Dataset:")
print(df_nulls_updated)

# Fill missing values using the recommended approach
# The previous code used inplace=True, which is being deprecated for chained assignments
# This updated code assigns the result of fillna back to the column, which is the recommended approach.
df_nulls_updated['Name'] = df_nulls_updated['Name'].fillna('Unknown')
df_nulls_updated['Age'] = df_nulls_updated['Age'].fillna(df_nulls_updated['Age'].mean())
df_nulls_updated['Income'] = df_nulls_updated['Income'].fillna(df_nulls_updated['Income'].median())

print("\nCleaned Dataset (Updated Code):")
print(df_nulls_updated)

Original Nulls Dataset:
       Name   Age   Income
0      Luis   NaN  81836.0
1   Bethany  37.0  42778.0
2   Antonio   NaN  71272.0
3       NaN  20.0  48813.0
4       NaN   NaN  83910.0
5    Latoya  23.0  35218.0
6    Andrew  27.0      NaN
7   Michele   NaN      NaN
8       NaN  25.0  64056.0
9  Veronica  33.0  50847.0

Cleaned Dataset (Updated Code):
       Name   Age   Income
0      Luis  27.5  81836.0
1   Bethany  37.0  42778.0
2   Antonio  27.5  71272.0
3   Unknown  20.0  48813.0
4   Unknown  27.5  83910.0
5    Latoya  23.0  35218.0
6    Andrew  27.0  57451.5
7   Michele  27.5  57451.5
8   Unknown  25.0  64056.0
9  Veronica  33.0  50847.0

### Practice
- Drop any rows where both Age and Income are missing.
- Try filling values using interpolation: `df.interpolate()`.

In [ ]:
# Your practice code here

## Handling Outliers (data_with_outliers.csv)
Next, we'll handle outliers using a salary dataset. We'll use statistical thresholds to detect and optionally remove or cap outliers.

In [ ]:
df_outliers = pd.read_csv("data_with_outliers.csv")
print("Outliers Dataset:")
print(df_outliers)

# Identify outliers using IQR
Q1 = df_outliers['Salary'].quantile(0.25)
Q3 = df_outliers['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Cap outliers
df_outliers['Salary'] = np.where(df_outliers['Salary'] > upper_bound, upper_bound, df_outliers['Salary'])

print("\nCapped Dataset:")
print(df_outliers)

Outliers Dataset:
   Salary  YearsExperience
0   84140                8
1   88511                5
2   79522                9
3   78062                4
4   94667                8
5   92553                1
6   51328                3
7   85298                8
8  273001                1
9  260579                6

Capped Dataset:
     Salary  YearsExperience
0   84140.0                8
1   88511.0                5
2   79522.0                9
3   78062.0                4
4   94667.0                8
5   92553.0                1
6   51328.0                3
7   85298.0                8
8  114331.5                1
9  114331.5                6

### Practice
- Instead of capping, try removing the outliers.
- Try detecting outliers with Z-score using scipy.stats.zscore().

In [ ]:
# Your practice code here

## Cleaning a Mixed-Problem Dataset (data_mixed_problems.csv)
This dataset has a mix of issues: missing values, extreme values, and inconsistent categorical data. Practice multiple techniques to clean it up.

In [ ]:
df_mixed = pd.read_csv("data_mixed_problems.csv")

# Basic summary
print("Original Mixed Dataset Summary:")
print(df_mixed.info())

# Fix missing values
df_mixed['Name'].fillna('Unknown', inplace=True)
df_mixed['Age'].fillna(df_mixed['Age'].median(), inplace=True)
df_mixed['Income'] = np.where(df_mixed['Income'] > 150000, df_mixed['Income'].median(), df_mixed['Income'])
df_mixed['Department'].fillna('General', inplace=True)
df_mixed['Rating'].fillna(df_mixed['Rating'].mean(), inplace=True)

print("\nCleaned Mixed Dataset (Preview):")
print(df_mixed.head())

Original Mixed Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        45 non-null     object
 1   Age         40 non-null     float64
 2   Income      29 non-null     float64
 3   Department  42 non-null     object
 4   Rating      39 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.1+ KB
None

Cleaned Mixed Dataset (Preview):
      Name   Age   Income Department  Rating
0  Stephen  40.0      NaN    Finance     1.3
1  Shannon  42.0      NaN      Sales     3.3
2     Anna  49.0      NaN         HR     2.1
3  Michael  43.0  88427.0         IT     4.4
4    Megan  44.0  85377.0      Sales     1.8

/tmp/ipython-input-8-4079317423.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mixed['Name'].fillna('Unknown', inplace=True)
/tmp/ipython-input-8-4079317423.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mixed['Age'].fillna(df_mixed['Age'].median(), inplace=True)
/tmp/ipython-input-8-4079317423.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mixed['Department'].fillna('General', inplace=True)
/tmp/ipython-input-8-4079317423.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mixed['Rating'].fillna(df_mixed['Rating'].mean(), inplace=True)



---

Here is another version of the implementation which applies the suggestions from the prvious output.

In [ ]:
df_mixed_updated = pd.read_csv("data_mixed_problems.csv")

# Basic summary
print("Original Mixed Dataset Summary:")
print(df_mixed_updated.info())

# Fix missing values using the recommended approach (assigning the result)
# Replacing inplace=True with assignment to avoid FutureWarning.
df_mixed_updated['Name'] = df_mixed_updated['Name'].fillna('Unknown')
# Replacing inplace=True with assignment to avoid FutureWarning.
df_mixed_updated['Age'] = df_mixed_updated['Age'].fillna(df_mixed_updated['Age'].median())
# Handling outliers in Income by capping
df_mixed_updated['Income'] = np.where(df_mixed_updated['Income'] > 150000, df_mixed_updated['Income'].median(), df_mixed_updated['Income'])
# Replacing inplace=True with assignment to avoid FutureWarning.
df_mixed_updated['Department'] = df_mixed_updated['Department'].fillna('General')
# Replacing inplace=True with assignment to avoid FutureWarning.
df_mixed_updated['Rating'] = df_mixed_updated['Rating'].fillna(df_mixed_updated['Rating'].mean())


print("\nCleaned Mixed Dataset (Preview - Updated Code):")
print(df_mixed_updated.head())

Original Mixed Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        45 non-null     object
 1   Age         40 non-null     float64
 2   Income      29 non-null     float64
 3   Department  42 non-null     object
 4   Rating      39 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.1+ KB
None

Cleaned Mixed Dataset (Preview - Updated Code):
      Name   Age   Income Department  Rating
0  Stephen  40.0      NaN    Finance     1.3
1  Shannon  42.0      NaN      Sales     3.3
2     Anna  49.0      NaN         HR     2.1
3  Michael  43.0  88427.0         IT     4.4
4    Megan  44.0  85377.0      Sales     1.8

### Practice
- Create a new column that categorizes Income (e.g., Low, Medium, High).
- Normalize Rating and Age columns.
- Save the cleaned dataset to a new CSV file.

In [ ]:
# Your practice code here